* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #eceff1;
	overflow: hidden;
}

.hangman-header {
	height: 10vh;
	text-align: center;
}

.hangman-app {
    align-items: center;
	display: flex;
	height: 90vh;
}

.hangman-app > * {
	flex-grow: 1;
}

.hangman-app__letters {
	line-height: 1.5;
	min-height: 3rem;
	padding: 0 1rem;	
}

.attempts {
	flex-grow: 2;
	margin-left: 1rem;
	margin-right: 1rem;
}

.attempts__guesses-left {
	font-weight: bold;
}

.attempts__guesses-left,
.attempts__final-word {
	text-align: center;
}

.hangman-app__score > h2 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 1rem;
	padding: 0 1rem;
}
