<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Hangman App</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="./node_modules/materialize-css/dist/css/materialize.min.css">
	<link rel="stylesheet" href="./src/css/index.css">
</head>
<body ng-app="HangmanApp" ng-controller="HangmanController">
	<header class="hangman-header">
		<h1 class="hangman-header__title">{{ name }}</h1>
	</header>
	<main class="hangman-app container">
		<section class="hangman-app__score">
			<h2>Your incorrect guesses</h2>
			<p class="hangman-app__letters">
				<span ng-repeat="letter in incorrectLetters">{{ letter }}</span>
			</p>
		</section>
		<div class="attempts">
			<p  class="attempts__guesses-left">Guesses left :: {{ guesses }}</p>
			<p class="attempts__final-word">{{ displayWord }}</p>
			<form>
				<input type="text" placeholder="Try a letter.." ng-model="input.letter">
				<button class="btn" type="button" ng-click="letterChosen()" ng-disabled="isDisabled">Go</button>
			</form>
		</div>
		<section class="hangman-app__score">
			<h2>Your correct guesses</h2>
			<p class="hangman-app__letters">
				<span ng-repeat="letter in correctLetters">{{ letter }}</span>
			</p>
		</section>
	</main>

	<script src="./node_modules/angular/angular.min.js"></script>
	<script src="./src/js/index.js"></script>
</body>
</html>
